@font-face {
  font-family: 'Yeseva One';
  src: url('../assets/fonts/yeseva-one.woff2') format('woff2'),
    url('../assets/fonts/yeseva-one.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Futura Book C';
  src: url('../assets/fonts/Futura-Book.woff2') format('woff2'),
    url('../assets/fonts/Futura-Book.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Futura Medium C';
  src: url('../assets/fonts/futura-medium-webfont.woff2') format('woff2'),
    url('../assets/fonts/futura-medium-webfont.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
