.container {
  max-width: $grid-desktop;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-end {
  align-items: flex-end;
}
