html {
  font-size: 62.5%;
}

body {
  font-family: $font-family-text;
  font-weight: 400;
  font-size: $font-size;
  line-height: 1;
  color: #fff;
  background-color: #fff;
  box-sizing: border-box;
  overflow-x: hidden;
}

// Titles

.title {
  color: $primary-color;
  font-family: $font-family-title;
  font-size: 2.7rem;
  font-weight: 400;
  letter-spacing: -0.189rem;
  line-height: 3.797rem;
  text-transform: uppercase;
}

.heading {
  font-family: $font-family-title;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.813rem;
  text-transform: uppercase;

  &--black {
    color: $background-color;
  }

  &--primary {
    color: $primary-color;
  }

  &--white {
    color: #fff;
  }
}

.icon {
  margin: 0 0.8rem;
  width: auto;
  height: 2.9rem;
}

.icon-wrap {
  display: flex;
  align-items: center;
  &::before,
  &::after {
    content: '';
    display: inline-block;
    width: 3.2rem;
    height: 0.3rem;
    border-radius: 3rem;
    background-color: #e3b873;
  }
}

.round {
  display: block;
  margin-left: 1.2rem;
  width: 2.9rem;
  height: 2.9rem;
  border: 0.2rem solid #e3b873;
  border-radius: 50%;
}
