html {
  font-size: 62.5%;
}

body {
  font-family: $font-family-text;
  font-weight: 400;
  font-size: $font-size;
  line-height: 1;
  color: #fff;
  background-color: #fff;
  box-sizing: border-box;
  overflow-x: hidden;

  @media (max-width: 768px) {
    background-color: $background-color;
  }
}

// Titles

.title {
  color: $primary-color;
  font-family: $font-family-title;
  font-size: 2.7rem;
  font-weight: 400;
  letter-spacing: -0.189rem;
  line-height: 3.797rem;
  text-transform: uppercase;

  @media (max-width: 895px) {
    font-size: 2.2rem;
    text-align: center;
  }
}

.heading {
  margin-bottom: 1.3rem;
  font-family: $font-family-title;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.813rem;
  text-transform: uppercase;
  text-align: center;
  color: $background-color;

  &--primary {
    color: $primary-color;
  }

  &--white {
    color: #fff;
  }
}

.icon {
  margin: 0 0.8rem;
  width: 2.9rem;
  height: 2.9rem;
}

.icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.3rem;
  &::before,
  &::after {
    content: '';
    display: inline-block;
    width: 3.2rem;
    height: 0.3rem;
    border-radius: 3rem;
    background-color: #e3b873;
  }
}

.round {
  display: block;
  margin-left: 1.2rem;
  width: 2.9rem;
  height: 2.9rem;
  border: 0.2rem solid #e3b873;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.72133 1.12712L5.40812 5.40918L1.09491 1.12712' stroke='%23E3B873' stroke-width='1.5'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;

  &--big {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3b873;
    width: 7.3rem;
    height: 7.3rem;
  }
}
