// Colors
$primary-color: #e3b873;
$background-color: #131313;

// Fonts
$font-size: 1.8rem;
$font-family-text: 'Futura Book C', sans-serif;
$font-family-title: 'Yeseva One', serif;
$font-family-cursive: 'Futura Demi C', sans-serif;

// Grid
$grid-desktop: 126.6rem;
$grid-mobile: 37.5rem;
