.btn {
  display: inline-block;
  padding: 1.3rem 3.3rem;
  background-color: $primary-color;
  color: #fff;
  font-style: italic;
  font-weight: 300;
  border: 0;
  border-radius: 0.2rem;
  box-shadow: 0 0.5rem 1.5rem rgba(227, 184, 115, 0.2);
  cursor: pointer;
  outline: none;
  transition: all ease-out 0.4s;

  &:hover,
  &:focus {
    background-color: darken($primary-color, 10%);
  }

  &:active {
    background-color: darken($primary-color, 20%);
  }

  &--transparent {
    background-color: transparent;
    box-shadow: 0;

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
