.btn {
  display: inline-block;
  padding: 1.3rem 3.3rem;
  background-color: $primary-color;
  color: #fff;
  font-style: normal;
  font-weight: 900;
  border: 0;
  border-radius: 0.2rem;
  box-shadow: 0 0.5rem 1.5rem rgba(227, 184, 115, 0.15);
  cursor: pointer;
  outline: none;
  transition: all ease-out 0.4s;

  &:hover,
  &:focus {
    background-color: darken($primary-color, 10%);
  }

  &:active {
    background-color: darken($primary-color, 20%);
  }

  &--transparent {
    background-color: transparent;
    box-shadow: 0;

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &--title {
    font-weight: 400;
  }

  &--bottom {
    position: sticky;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    min-width: 24.7rem;
    height: 9.7rem;
    font-family: $font-family-title;
    font-style: normal;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.969rem;
    text-transform: uppercase;
    background-color: $background-color;
    box-shadow: none;
    transform: translateY(4.7rem);
    z-index: 11;

    &:hover,
    &:focus {
      background-color: darken($background-color, 2%);
    }
  }
}
