.card {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: -1.5rem;
  }

  &__item {
    width: calc(33.333% - 3rem);
    min-width: 34rem;
    margin: 1.5rem;

    &:not(:last-child) {
      @media (max-width: 1125px) {
        margin-bottom: 8rem;
      }
    }
  }

  &__image-box {
    overflow: hidden;
  }

  &__image img {
    @include transition;
  }

  &__info {
    position: relative;
    padding: 2rem 0 5rem 3.1rem;
    margin: -12.7rem auto 0 auto;
    max-width: 33rem;
    color: #959595;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.637rem;
    background-color: #fff;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.03);
    z-index: 1;

    @media (max-width: 768px) {
      max-width: 27rem;
      margin-left: 0;
      padding-bottom: 3.5rem;
    }
  }

  &__title {
    margin-bottom: 1.3rem;
    color: #363636;
    font-family: $font-family-title;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.531rem;
  }

  &__info-list {
    padding-left: 2rem !important;
    list-style: disc !important;
  }

  &__info-item {
    span {
      display: block;
      margin-left: -0.5rem;

      @media (max-width: 768px) {
        font-size: 1.3rem;
      }
    }
  }

  &__btn {
    position: absolute;
    left: 0;
    bottom: -2.5rem;
    font-family: $font-family-title;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 2.531rem;
    text-transform: uppercase;
    box-shadow: 0.5rem 0.5rem 1rem rgba(227, 184, 115, 0.3);

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
}

.card__item:hover .card__image img {
  transform: scale(1.1);
}
