#map {
  margin: 0 auto;
  width: 100%;
  max-width: 92.5rem;
  height: 46.6rem;
  background-image: url(../assets/img/bg_map.jpg);
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 768px) {
    order: -1;
    height: 25.5rem;
  }
}
