.slider-steps {
  font-size: 1.5rem;

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    margin-top: -10rem;
    flex: 0 10 auto;
  }

  &__number {
    font-family: $font-family-title;
    font-size: 1.8rem;
  }

  &__title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: $primary-color;
    font-family: $font-family-title;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__text {
    max-width: 33rem;
    line-height: 2.637rem;
  }

  &__photo {
    flex: 0 0 auto;
  }
}
