.catalog {
  padding-top: 13.8rem;
  padding-bottom: 10rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../assets/img/bg_catalog.png) no-repeat;
  background-position: center;
  background-size: cover;
  line-height: 1;

  @media (max-width: 768px) {
    margin-top: -21rem;
    padding: 0;
    background: none;
  }

  &__wrapper {
    position: relative;
    display: flex;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: 4.7rem;

    @media (max-width: 768px) {
      margin-bottom: 1.7rem;
    }

    @media (max-width: 1050px) and (min-width: 768px) {
      margin-bottom: 54.7rem;
      opacity: 0;
    }
  }

  &__list {
    @media (max-width: 1050px) {
      display: none;
    }
  }

  &__item {
    margin-bottom: 2.6rem;
  }

  &__link {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    @include transition;

    &--active,
    &:hover,
    &:focus {
      color: $primary-color;
      box-shadow: 0px 1px 0px 0px rgba(227, 184, 115, 1);
    }

    &:active {
      color: darken($primary-color, 10%);
    }
  }
}
