.design {
  position: relative;
  padding-top: 15.3rem;
  z-index: 2;

  @media (max-width: 768px) {
    padding-top: 6.2rem;
  }

  &__heading {
    margin-bottom: 1.2rem;

    @media (max-width: 768px) {
      color: #fff;
    }
  }

  &__description {
    margin-top: 2.3rem;
    margin-bottom: 3.8rem;
    color: #363636;
    text-align: center;

    @media (max-width: 768px) {
      color: #fff;
      padding: 0 1.5rem;
    }
  }

  &__list {
    align-items: flex-start;
  }
}
