.feature {
  display: flex;
  margin: 0 auto;
  padding-bottom: 24rem;
  max-width: 147.5rem;
  color: #363636;
  line-height: 1.1;

  &__wrapper {
    flex-shrink: 0;
    position: relative;
    width: 76.8rem;
    min-height: 66rem;
    background: url(../assets/img/bg-feature.png) no-repeat;
    background-position-x: 0;
  }

  &__item {
    position: absolute;

    &:nth-child(1) {
      top: 8%;
      left: 43rem;
    }
    &:nth-child(2) {
      top: 27%;
      left: 49rem;
    }
    &:nth-child(3) {
      top: 51%;
      left: 52rem;
    }
    &:nth-child(4) {
      top: 75%;
      left: 45rem;
    }
  }

  &__form {
    margin: 0 auto;
    transform: translateX(-19px);
  }

  &__icon {
    display: block;
    width: 4.1rem;
    height: 3.5rem;
  }

  &__save {
    display: flex;
    align-items: center;
    margin-top: 3.8rem;
  }

  &__round {
    flex: 0 0 auto;
    margin-left: 3.2rem;
    margin-right: 2.4rem;
  }

  &__save-text {
    text-shadow: 0 0.3rem 1rem rgba(227, 184, 115, 0.15);
    color: #e3b873;
    font-size: 2rem;
    font-weight: 900;
    line-height: 2.461rem;
  }
}
